<!--
 * @Author: yang zhiwei
 * @LastAuthor: yang zhiwei
 * @Description: 基础模板
 * @CreateTime: 2019-05-08 10:06:37
 * @LastTime: 2019-05-10 14:25:09
 -->

{% extends 'bootstrap/base.html' %}
{% block styles %}
   {{super()}}
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css')}}" type="text/css">
{% endblock %}

{% block title %}TYRZ_Cases!{% endblock%}

{% block navbar %}
    {{ nav.top.render() }}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}{% endblock %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static',filename='js/moment-with-locales.min.js'))}}
    {{ moment.local('zh-cn') }}
{% endblock %}